<div class="container">
  <h1><%= @shop.category_name %></h1>
  <hr>
  <div class="col-sm-7">
    <section>
      <table class="table table-striped table-bordered">
        <tbody>
            
            <tr>
              <th><h3>店舗所在地</h3></th>
                <td>
                  <h3><strong><%= @shop.address %></strong></h3>
                </td>
            </tr>

            <tr>
              <th>口コミ情報</th>
                <td>
                  <%= @shop.message %>
                </td>
            </tr>
      
            <tr>
              <th>投稿者</th>
                <td>
                  <%= @shop.user_name %>
                </td>
            </tr>
            
            <tr>
              <th>投稿日時</th>
                <td>
                  <%= @shop.updated_at.to_formatted_s(:without_second) %>
                </td>
            </tr>
            
        </tbody>
      </table>
    </section>
    
    <%= link_to "戻る", shops_path, class: "btn btn-sm btn-info" %>
    | <%= link_to '編集する', edit_shop_path(@shop.id), class: "btn edit-btn btn-sm btn-warning" %>

  </div>
</div>