<div class="container">
  
  <h1><%= @category.name %>（<%= @category.shops.count %>件）</h1>
  
    <%= will_paginate renderer: BootstrapPagination::Rails %>
      
      <table class="table table-striped table-bordered">
        
        <thead>
          <tr><th>所在地店舗名</th><th>投稿者</th></tr>
        </thead>
        
        <tbody>
          <% @shops.each do |shop| %>
            <tr>
              <td><%= link_to shop.address, shop, :style=>"color:blue;" %></td>
              <td><%= shop.user_name %></td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
      
    <%= will_paginate renderer: BootstrapPagination::Rails %>
    <br>
  <%= link_to '戻る', root_path, class: "btn btn-sm btn-info" %>
  
</div>